/**
 * @file nav.scss
 * Styles for nav component, that will be 
 * used throughout each page.
 */

/* Styles for desktops and laptops */
@media only screen and (min-width: 700px) {
    nav {
        width: calc(100% - 34px);
        max-width: 1300px;
        height: 70px;
        margin: 16px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

        transition: all 0.1s ease-in-out;

        div {
            display: flex;
        }

        div:nth-of-type(2) {
            margin-right: 20px;
        }

        h1 {
            font-size: 30px;
            font-weight: 500;
            margin: 0;
            padding: 0;
            margin-left: 16px;
            margin-top: 16px;
            transition: all 0.1s ease-in-out;
        }

        h1:hover {
            cursor: pointer;
            color: rgb(20, 109, 168);
            scale: 1.05;
        }

        h1:active {
            color: rgb(20, 109, 168);
            scale: 0.9;
        }

        h2 {
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            padding: 0;
            margin-left: 16px;
            margin-top: 25px;
            transition: all 0.1s ease-in-out;
            height: 25px;
        }

        h2:hover {
            cursor: pointer;
            color: rgb(20, 109, 168);
            scale: 1.05;
        }

        h2:active {
            color: rgb(20, 109, 168);
            scale: 0.9;
        }

        img {
            height: 30px;
            margin-top: 20px;
            margin-left: 13px;
            filter: invert(1);
            transition: all 0.1s ease-in-out;
        }

        img:hover {
            cursor: pointer;
            border-radius: 100%;
            scale: 1.05;

            // Because of filter, they become rgb(20, 109, 168)
            background-color: rgb(235, 146, 87);
        }

        img:active {
            scale: 0.9;
        }

        .mobile-nav-button {
            display: none;
        }
    }
}


/* Styles for mobile phones */
@media only screen and (max-width: 700px) {
    nav {
        margin-top: 10px;
        overflow: hidden;
    }

    .mobile-nav-button {
        filter: invert(1);
        height: 40px;
        margin-left: 13px;
    }

    .mobile-flex-btn-title {
        display: flex;
        justify-content: space-between;

        width: auto;

        h1 {
            margin-top: 7px;
            font-weight: 500;
            margin-right: 10px;
            transition: all 0.1s ease-in-out;
        }

        h1:active {
            color: rgb(20, 109, 168);
        }
    }

    .mobile-social-buttons {
        filter: invert(1);
    }

    #mobile-buttons-display {
        display: none;
        justify-content: center;
        margin-top: 15px;

        h2 {
            margin: 5px;
            font-size: 20px;
            transition: all 0.1s ease-in-out;
        }

        h2:active {
            color: rgb(20, 109, 168);
        }

        width: 90vw;
        margin-left: 3.3vw;
        padding: 1vw;
        border-radius: 6px;
        height: 40px;

        border: 1px solid white;

        background-color: rgb(0, 0, 0);
    }

    .mobile-social-buttons {
        height: 30px;
        margin: 7px;
        transition: all 0.1s ease-in-out;
    }

    .mobile-social-buttons:active {
        background-color: rgb(235, 146, 87);
        border-radius: 100%;
    }

    #mobile-socials-display {
        margin-left: 3.3vw;
        width: 90vw;
        padding: 1vw;
        border-radius: 6px;
        height: 40px;

        border: 1px solid white;

        background-color: rgb(0, 0, 0);
        margin-top: 10px;

        display: none;
        justify-content: center;
        align-items: center;
    }
}

nav {
    animation: nav-fadeIn 1s ease-in-out;
}

@keyframes nav-fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}